@import '~frontend-mv--uilib-theme/lib/index';
@import '@frontend-mv--uilib-components/sui-thumbnail-picture/lib/index';
@import '@frontend-mv--uilib-components/sui-thumbnail-list/lib/index';

.SearchResults {
  &-heading {
    font-size: $fz-xl;
    margin-bottom: $m-l;
  }

  &-error {
    color: $c-gray-light-2;
    font-size: $fz-xxxl;
    margin-top: $m-xxl;
  }
}
